<div class="container">
    <div class="row">
        <div class="col1">
            <h3>Already have an Account</h3>

            <a [routerLink]="'/adminlogin'"><button>Signin</button></a>
            <p>For user login.<a [routerLink]="'/userlogin'">click here</a></p>
        </div>

        <div class="col2">
            <h3>Admin Registration</h3>
            <div style="height: 30px;" [hidden]="!showmsg1">
                <h4 style="background-color:red;">EMAIL OR MOBILE NO IS AlREADY USED</h4>
            </div>
            <div style="height: 30px; " [hidden]="!showmsg2">
                <h4 style="background-color:green;">REGISTRATION SUCCESSFUL</h4>
            </div>
            <form id="messageform" (ngSubmit)="onSubmit()">

                <div><input type="text" name="adminname" placeholder="Name" [(ngModel)]="adminobj.adminname" required>
                </div>
                <div class="half-input"><input type="text" name="adminemail" placeholder="Email"
                        [(ngModel)]="adminobj.adminemail" required>
                    <input type="text" name="adminmobile" placeholder="Mobile No." [(ngModel)]="adminobj.adminmobile"
                        required>
                </div>
                <textarea name="adminaddress" form="messageform" cols="30" rows="7" placeholder="Address" [(ngModel)]="adminobj.adminaddress" required></textarea>    
                <div class="half-input"><input type="password" name="adminpass" placeholder="Password" [(ngModel)]="adminobj.adminpass"
                    required>
                    <input type="password" name="adminconfirmpass" placeholder="Confirm Password" [(ngModel)]="adminobj.adminconfirmpass"
                    required></div>
                    <p style="color: red; float:right; margin-right: 10px;" [hidden]="flag1">Password didn't match</p>
                <div><button>Submit</button></div>

            </form>
        </div>

    </div>
</div>