<div class="container">
    <div class="row">
        <div class="col1">
            <h3>Already have an Account</h3>

            <a [routerLink]="'/userlogin'"><button>Signin</button></a>
            <p>For admin login.<a [routerLink]="'/adminlogin'">click here</a></p>
        </div>

        <div class="col2">
            <h3>User Registration</h3>
            <div style="height: 30px;" [hidden]="!showmsg1"><h4 style="background-color:red;">EMAIL OR MOBILE NO IS AlREADY USED</h4></div>
        <div style="height: 30px; " [hidden]="!showmsg2" ><h4 style="background-color:green;">REGISTRATION SUCCESSFUL</h4></div>
            <form id="messageform" (ngSubmit)="onSubmit()">

                <div><input type="text" name="username" placeholder="Name" [(ngModel)]="userobj.username" required></div>
                <div class="half-input"><input type="text" name="useremail" placeholder="Email" [(ngModel)]="userobj.useremail" required>
                <input type="text" name="usermobile" placeholder="Mobile No." [(ngModel)]="userobj.usermobile" required></div>
                <textarea name="address" form="messageform" cols="30" rows="7" placeholder="Address" [(ngModel)]="userobj.useraddress" required></textarea>    
                <div class="half-input"><input type="password" name="userpass" placeholder="Password" [(ngModel)]="userobj.userpass" required>
                <input type="password" name="userconfirmpass" placeholder=" Confirm Password" [(ngModel)]="userobj.userconfirmpass" required></div>
                <p style="color: red; float:right; margin-right: 10px;" [hidden]="flag1">Password didn't match</p>
                
                <div><button>Submit</button></div>

            </form>
        </div>

    </div>
</div>