<div class="container" *ngIf="isAdminlogin(); else elseblockname">
    <div class="row">
        <div class="col1">
            <img src="../../assets/images/logo_white.png">
            <h3>Hey! {{adminobj.adminname}}</h3>
            <br />
            <h4>Change Your Password Here</h4>
            <!-- <a [routerLink]="'/userreg'"><button>Signup</button></a>
            <p>For user login.<a [routerLink]="'/userlogin'">click here</a></p> -->
        </div>

        <div class="col2">
            <h3>Admin Password Change</h3>
            <div style="height: 30px;" [hidden]="!showmsg1">
                <h4 style="background-color:red;">WRONG OLD PASSWORD</h4>
            </div>
            <div style="height: 30px; " [hidden]="!showmsg2">
                <h4 style="background-color:green;">PASSWORD UPDATE SUCCESSFUL</h4>
            </div>
            <form id="messageform" (ngSubmit)="onSubmit()">
                <div><input type="password" name="adminoldpass" placeholder="Enter Old Password"
                        [(ngModel)]="adminobj.adminpass" required></div>
                <div><input type="password" name="adminnewpass" placeholder="Enter New Password"
                        [(ngModel)]="adminobj.adminnewpass" required></div>
                <div><input type="password" name="adminnewpass" placeholder="Confirm New Password"
                        [(ngModel)]="adminobj.adminconfirmpass" required></div>
                        <p style="color: red; float:right; margin-right: 10px;" [hidden]="flag1">Password didn't match</p>
                        
                <div align="center"><button type="submit">Submit</button></div>

            </form>
        </div>

    </div>
</div>

<ng-template #elseblockname>
    <app-pagenotfound></app-pagenotfound>
</ng-template>