<div class="pageadjust">
    <div *ngIf="isRestaurentlogin();else elseblockname" style="height:100%;overflow:auto">
        <div *ngIf="isActive;else elseactiveblock">
            <h3 align="center">View All Item</h3>
            <div align="center">

                <input type="text" id="myInput" [(ngModel)]="searchText" placeholder="Search for FOOD NAME .."
                    title="Type in a name">


            </div>
            <input type="checkbox" id="show2">

            <ul *ngIf="nodatafound;else nodataelse">
                <li *ngFor="let foodobj of foodarr|filter:searchText">
                    <a>
                        <label for="show2" (click)="viewUserOrder(foodobj)"><span
                                class="glyphicon glyphicon-eye-open"></span></label>
                        <img src="{{foodobj.producturl}}">
                        <div class="content">
                            <div class="food-details">
                                <div class="name">
                                    {{foodobj.productname}}
                                </div>
                                <div class="price">
                                    <span>
                                        {{foodobj.productprice | currency:'INR'}}
                                    </span>
                                </div>
                                <div class="sellername">
                                    <span>Food Description:</span>
                                    {{foodobj.productdescription}}
                                </div>
                            </div>
                            <button class="edit-btn" (click)="edit(foodobj)"><span class="glyphicon glyphicon-edit"></span>Edit Item</button>
                            <button class="delete-btn" (click)="delete(foodobj)"><span class="glyphicon glyphicon-trash"></span>Delete Item</button>
                        </div>
                    </a>
                </li>
            </ul>

            <ng-template #nodataelse>
                <h4 align="center"> NO DATA FOUND</h4>
            </ng-template>



            <div align="center" class="order-show">
                <label class="fa" for="show2">X</label>
                <h3>User Details OF {{foodname}} Order</h3>
                <div class="show_scroll1">
                    <table>
                        <thead>
                            <tr>
                                <th>SL NO</th>
                                <th>ORDER ID</th>
                                <th>ORDER DATE</th>
                                <th>ORDER TIME</th>
                                <th>USER NAME</th>
                                <th>USER EMAIL</th>


                                <th>PRICE</th>
                                <th>QUANTITY</th>
                                <th>TOTAL PRICE</th>
                                <th>ORDER STATUS</th>
                            </tr>
                        </thead>

                        <tbody *ngIf="nodatafound2;else nodataelsetable">
                            <tr *ngFor="let odobj of orderarr;index as i ">
                                <td>{{i+1}}</td>
                                <td>{{odobj.productorderid}}</td>
                                <td>{{odobj.orderdate}}</td>
                                <td>{{odobj.ordertime}}</td>
                                <td>{{odobj.username}}</td>
                                <td>{{odobj.useremail}}</td>
                                <td>{{odobj.productprice|currency:"INR"}}</td>
                                <td>{{odobj.productquantity}}</td>
                                <td>{{odobj.producttotalprice|currency:"INR"}}</td>
                                <td *ngIf="odobj.orderstatus; else orderstatusblock">Order Placed</td>
                                <ng-template #orderstatusblock>
                                    <td> Order Canceled</td>
                                </ng-template>
                            </tr>
                        </tbody>
                        <ng-template #nodataelsetable>
                            <tbody>
                                <tr>
                                    <td colspan="12"> NO DATA FOUND</td>
                                </tr>
                            </tbody>

                        </ng-template>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <ng-template #elseblockname>
        <app-pagenotfound></app-pagenotfound>
    </ng-template>
    <ng-template #elseactiveblock>
        <app-inactivepage></app-inactivepage>
    </ng-template>
</div>