<div class="pageadjust">
    <div class="container">
        <div class="row">
            <div class="col1">
                <h3>Don't Have An Account</h3>
                <a [routerLink]="'/restaurentreg'"><button>Signup</button></a>
                <p>For admin login.<a [routerLink]="'/adminlogin'">click here</a></p>
            </div>
    
            <div class="col2">
                <h3>Restaurent Login</h3>
                <div style="height: 30px;">
                    <h4 [hidden]="flag">Invalic UID or Password</h4>
                </div>
                <form id="messageform" (ngSubmit)="onSubmit()">
                    <div>
                        <input type="email" name="useremail" placeholder="Email ID" [(ngModel)]="resobj.resemail" (keyup)="emailValidate()" (blur)="emailValidate()" required>
                        <p>{{emailError}}</p>
                    </div>
                    <div>
                        <input type="password" name="respass" placeholder="Password" [(ngModel)]="resobj.respass" (keyup)="passwordValidate()" (blur)="passwordValidate()" required>
                        <p>{{passwordError}}</p>
                    </div>
                    <div><button type="submit">Submit</button></div>
    
                </form>
            </div>
    
        </div>
    </div>
</div>