.pageadjust{
    width: 100%;
    height: 87%;
    position: fixed;
    top: 7.2%;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.massagediv{
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}