<div class="pageadjust">
  <div class="home">

    <div class="main-home">
        <div class="home-inner-content">
            <div class="home-image">
            <img src="../../assets/images/background content.png" alt="">
            </div>
        </div>

        <div class="home-inner-content">
            <div class="home-text-content">
            <h1>contact us for best food order</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae, voluptatem officiis quas illum pariatur, sint amet dignissimos asperiores</p>
            <a href="#">contact us</a>
            </div>
        </div>
    </div>

</div>

<div id="about" class="about">
  <div class="main-about">
      <div class="about-content">
          <div class="about-inner-content">
              <img class="myimageabout" src="../../assets/images/About us.png" alt="">
          </div>
      </div>

      <div class="about-content">
          <div class="about-inner-content">
              <div class="about-text-content">
                  <h1>About us</h1>
                  <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure sunt assumenda quaerat fugiat nesciunt at, provident quae ipsa! Amet explicabo molestiae perspiciatis ut provident mollitia reprehenderit omnis fuga modi voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nisi doloremque officiis alias similique beatae illum necessitatibus aliquam, hic, digniss</p>

              </div>
          </div>
      </div>
  </div>
</div>

<div class="quality">
  <div class="main-quality">
      <div class="main-inner-quality">
          <div class="quality-content">
              <h1>Our food quality</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam mollitia obcaecati architecto corporis fugit magni molestiae, itaque molestias beatae quas, eveniet nesciunt quia? Molestias, ab error vitae facere quos qui. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi omnis itaque commodi pariatur quia, minima ullam sunt. Sunt, natus magni laborum ipsam, dolor reprehenderit exercitationem consectetur nesciunt error iure odit!</p>

          </div>
      </div>

      <div class="main-inner-quality">
          <div class="quality-content qulity-image">
              <img src="../../assets/images/egg.png" alt="">
          </div>
      </div>
  </div>
</div>

<div class="enjoy-our-food">

  <div class="food-main-content">
      <h1>enjoy our food</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa quidem sit nostrum pariatur perferendis soluta saepe nam eveniet velit exercitationem iusto, molestias sapiente laborum? Hic, eaque. Voluptatum sit incidunt ipsa.</p>
  </div>

</div>


</div>